@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

//Override Bootstrap variables here
$primary: #007bff;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: Arial, sans-serif;
}

/* Ensure the content wrapper leaves space for the fixed-top navbar */
.content-wrapper {
  padding-top: 56px; /* Adjust this if your navbar height changes */
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.error-message {
  color: red;
  margin-top: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.card-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: white;
}

.review-button {
  display: block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.review-button:hover {
  background-color: #218838;
}

.bg-orange {
  background-color: #ff9514;
}